---
import { Loader2 } from "lucide-react"
import { Button } from "@/components/ui/button"
import { ExternalLink } from 'lucide-astro'

import '@/styles/globals.css'
import '@/styles/news.css'
import '@/styles/baseTopPageTextBox.css'

import BaseLayout from '../layouts/InfoPageLayout.astro';
import Greeting from '../components/Greeting.jsx';

import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"

const companyName = "DELC";
const pageTitle = "COMPANY";
const pageTitleRuby = "会社情報";
const tabTitle = "会社情報";

const companyInformation = "会社概要";
const information = "INFORMATION";

const destinationURLs = [
  {url: "company",ruby: "会社情報"}
];

const menus = [
  {url: "company",text: "会社情報"},
  {url: "location",text: "所在地"},
  {url: "history",text: "沿革"}
];

const show=2;
---

<BaseLayout companyName={companyName}
pageTitle={pageTitle}
pageTitleRuby={pageTitleRuby}
tabTitle={tabTitle}

menus={menus}
menuShow={show}
mainBlockSize={2}
anchor={false}

destinationURLs={destinationURLs}
>

<div class = "main-title-block">
    <div class = "main-jp-title">{companyInformation}</div>
    <div class = "main-title">{information}</div>
</div>

<Table>
    <TableHeader>
      <TableRow disableHover>
        <TableCell className="font-medium">会社名</TableCell>
        <TableCell>株式会社デルク</TableCell>
      </TableRow>
    </TableHeader>
    <TableBody>
      <TableRow disableHover>
        <TableCell className="font-medium">設立</TableCell>
        <TableCell>2014年4月</TableCell>
      </TableRow>
      <TableRow disableHover>
        <TableCell className="font-medium">所在地</TableCell>
        <TableCell>〒171-0022 東京都豊島区南池袋2-5-3 SSビル2F</TableCell>
      </TableRow>
      <TableRow disableHover>
        <TableCell className="font-medium">代表</TableCell>
        <TableCell>代表取締役 溝部 陽史</TableCell>
      </TableRow>
      <TableRow disableHover>
        <TableCell className="font-medium">資本金</TableCell>
        <TableCell>9,000,000円</TableCell>
      </TableRow>
      <TableRow disableHover>
        <TableCell className="font-medium">適格請求書発行事業者登録番号</TableCell>
        <TableCell><a href="https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo=7013301035178",div class = "underline">国税庁適格請求書発行事業者公表サイト<ExternalLink/></a></TableCell>
      </TableRow>
      <TableRow disableHover>
        <TableCell className="font-medium">事業内容</TableCell>
        <TableCell>ゲーム・ソフトウェア開発サポート事業
            <p>システムエンジニアリング事業</p>
            <p>テストマッチングプラットフォーム事業</p></TableCell>
      </TableRow>

    </TableBody>
  </Table>

</BaseLayout>