---
import Header from '../components/DelcHeader.astro';
import Footer from '../components/DelcFooter.astro';
import SideMenu from '../components/SideMenu.astro';

import '../styles/delcGlobal.css';
import '../styles/delcInfoGlobal.css';

import "@fontsource-variable/noto-sans-jp"
import "@fontsource-variable/oswald"

import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb"

import localBrandingImage from '../images/branding.svg';
import { ViewTransitions,fade,slide } from "astro:transitions";

import { IconData } from '../components/IconData.tsx';

const { 
    companyName,
    pageTitle,
    pageTitleRuby,
    tabTitle,
    
    menus,
    menuShow,
    mainBlockSize,
    anchor,

    destinationURLs
} = Astro.props;

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{tabTitle}</title>
    <ViewTransitions />
  </head>
  <body class="font-body">
    <Header />

    <!--トップのロゴ-->
    <div class ="header-block">
      <a href="/toppage/",div class = "company-header">
      <div class="company-branding"/>
      <div class="company-logo"/>
    </a>
    
    <div class = "page-title-block">
        <div class = "page-title-ruby">{pageTitleRuby}</div>
        <div class = "page-title">{pageTitle}</div>
        <!--パンくずリスト-->
        <div class = "breadcrumb">
          <Breadcrumb>
            <BreadcrumbList>
              <BreadcrumbItem>
                <BreadcrumbLink href="/toppage"><div class="breadcrumb-flex-block">{IconData.map(icon => icon.name === "home" ? (<icon.icon />) : (null))}<!--House style="width: 20px; margin: 0 0.15rem;"/-->HOME</div></BreadcrumbLink>
              </BreadcrumbItem>
              {destinationURLs.map(data => (
              <BreadcrumbSeparator />
                <BreadcrumbItem>
                <BreadcrumbLink href={"/"+data.url}><div class="breadcrumb-flex-block">{IconData.map(icon => icon.name === data.url ? (<icon.icon />) : (null))}{data.ruby}</div></BreadcrumbLink>
              </BreadcrumbItem>
                ))}
            </BreadcrumbList>
          </Breadcrumb>
        </div>
    </div>
    </div>

    <!--サイドメニュー-->
    <div class = "overall-style">
      <SideMenu title={pageTitle} menus={menus} show={menuShow} anchor={anchor}/>   
      <div class="main-block" style={`--dynamic-grid-column: ${mainBlockSize};`}>      
        <slot />
      </div>
    </div>

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>  