---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/DelcHeader.astro';
import Footer from '../components/DelcFooter.astro';
import SideMenu from '../components/SideMenu.astro';
import BreadCrumb from '@/components/BreadCrumb.astro';

import '../styles/delcInfoGlobal.css';

import localBrandingImage from '../images/branding.svg';
import { ViewTransitions,fade,slide } from "astro:transitions";

const { 
    companyName,
    pageTitle,
    pageTitleRuby,
    tabTitle,
    
    menus,
    menuShow,
    mainBlockSize,
    anchor,

    destinationURLs
} = Astro.props;

const color = 'hsl(199, 100%, 96%)';
const borderColor ='hsl(0, 0%, 65%)';
---

<BaseLayout pageTitle={pageTitle}tabTitle={tabTitle}>


  <Fragment slot="top">
    <div class = "page-title-block">
      <!--ページタイトル-->
        <div class = "page-title-ruby">{pageTitleRuby}</div>
        <div class = "page-title">{pageTitle}</div>
        <!--パンくずリスト-->
        <BreadCrumb destinationURLs={destinationURLs}/>
    </div>
    </div>
  </Fragment>


  <Fragment slot="main">
    <!--サイドメニュー-->
    <div class = "overall-style">
      <SideMenu title={pageTitle} menus={menus} show={menuShow} anchor={anchor}/>   
      <div class="main-block" style={`--dynamic-grid-column: ${mainBlockSize};`}>      
        <slot />
      </div>
    </div>
  </Fragment>

  <Footer />

  <script>
    import "../scripts/menu.js";
  </script>

</BaseLayout>