---
import BaseLayout from './BaseLayout.astro'
import SideMenu from '../components/SideMenu.astro'
import '../styles/delcInfoGlobal.css'
const {
  menuTitle: title,
  menus,
  menuShow: show,
  mainBlockSize,
  anchor,
} = Astro.props
---

<BaseLayout {...Astro.props}>
  <!--サイドメニュー-->
  <div class="overall-style">
    <SideMenu {title} {menus} {show} {anchor} />
    <div
      class="main-block md:min-h-[58rem]"
      style={`--dynamic-grid-column: ${mainBlockSize};`}
    >
      <slot />
    </div>
  </div>
</BaseLayout>

<script>
  import '../scripts/menu.js'
</script>
